@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "DM Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-size: 14px;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

/* Custom thumb (the circle) styles */
.timeline::-webkit-slider-thumb {
   appearance: none;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: white;
   cursor: pointer;
   border: 2px solid white;
}

.timeline::-moz-range-thumb {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: white;
   cursor: pointer;
   border: 2px solid white;
}
